/*=================================================================================================================================================================================================================1024PX===============================================================================================================================================================================================================================================  */

@media (max-width : 1204px) {
    #navBar {
        /* background-color: rgb(116, 116, 239); */
        width: 100%;
        /* overflow: hidden; */
    }

    .nav-links {
        width: 45%;
    }

    .navbar-icon {
        width: 25%;
    }

    #home {
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-content {
        height: 60%;
        width: 65%;
    }

    .hero-content-content {
        height: 70%;
        width: 70%;
    }

    .hero-content-photo {
        height: 85%;
    }
}


/*==========================================================================================================================================================================================================================================================768PX==============================================================================================================================================================================================================================================  */

@media (max-width : 768px) {
     #navBar {
        /* background-color: rgb(116, 116, 239); */
        width: 100%;
        /* overflow: hidden; */
    }

    .nav-links {
        width: 55%;
    }

    #home {
        height: 50rem;
        width: 100%;
    }

    .hero-content {
        width: 92%;
    }

    .hero-content-content {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-content-photo img {
        height: 70%;
        width: 90%;
    }

    .tech-stack {
        width: 92%;
    }


    #about {
        width: 100%;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-outer {
        height: 100%;
        width: 90%;
        flex-direction: column;
    }
    
    .about-left {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cor {
        height: 80%;
        width: 50%;
        border-radius: 50%;
        right: -55px;
    }

    .about-right {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-right-content {
        width: 100%;
    }
}





/*==========================================================================================================================================================================================================================================================480PX==============================================================================================================================================================================================================================================  */


@media (max-width : 480px) {
     #navBar {
        /* background-color: rgb(116, 116, 239); */
        width: 100%;
        /* overflow: hidden; */
        display: flex;
        justify-content: space-between;
    }

    .nav-links {
        display: none;
    }

    .navbar-icon {
        width: 30%;
    }

    .hamburger {
        display: block;
        justify-content: center;
        align-items: center;
        width: 10%;
        cursor: pointer;
    }

    #home {
        height: 90rem;
        width: 100%;
        gap: 2rem;
    }

    
    .hero-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .hero-content-content {
        width: 100%;
        height: 100%;
    }

    .hero-content-photo {
        width: 100%;
        height: 100%;
    }

    .hero-content-photo img {
        width: 85%;
        height: 70%;
    }



    .tech-stack {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        margin-top: 2rem;
    }

    .tech-content {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tech-content h3 {
        font-size: 1.5rem;
        font-weight: 650;
    }

    .tech-content span {
        display: none;
    }

    .tech-icons  {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .tech-icons svg {
       height: 3.5rem;
       width: 3.5rem;
    }


    #about {
        width: 100%;
        padding: 1rem;
    }

    .about-outer {
        height: 100%;
        width: 100%;
        flex-direction: column;
    }
    
    .about-left {
        width: 100%;
    }

    .cor {
        height: 65%;
        width: 50%;
        border-radius: 50%;
        right: -55px;
    }

    .about-right {
        width: 90%;
    }

    .about-right-content {
        width: 100%;
    }

}





