/*=================================================================================================================================================================================================================1024PX===============================================================================================================================================================================================================================================  */

@media (max-width : 1204px) {
    #navBar {
        /* background-color: rgb(116, 116, 239); */
        width: 100%;
        /* overflow: hidden; */
    }

    .nav-links {
        width: 45%;
    }

    .navbar-icon {
        width: 25%;
    }

}


/*==========================================================================================================================================================================================================================================================768PX==============================================================================================================================================================================================================================================  */

@media (max-width : 768px) {
     #navBar {
        /* background-color: rgb(116, 116, 239); */
        width: 100%;
        /* overflow: hidden; */
    }

    .nav-links {
        width: 55%;
    }

    #home {
        height: 50rem;
        width: 100%;
    }

    .hero-content {
        width: 92%;
    }

    .hero-content-photo img {
        height: 70%;
        width: 90%;
    }

    .tech-stack {
        width: 92%;
    }
}





/*==========================================================================================================================================================================================================================================================480PX==============================================================================================================================================================================================================================================  */


@media (max-width : 480px) {
     #navBar {
        /* background-color: rgb(116, 116, 239); */
        width: 100%;
        /* overflow: hidden; */
        display: flex;
        justify-content: space-between;
    }

    .nav-links {
        display: none;
    }

    .navbar-icon {
        width: 30%;
    }

    .hamburger {
        display: block;
        justify-content: center;
        align-items: center;
        width: 10%;
        cursor: pointer;
    }

    #home {
        height: 90rem;
        width: 100%;
        gap: 2rem;
    }

    
    .hero-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .hero-content-content {
        width: 100%;
        height: 100%;
    }

    .hero-content-photo {
        width: 100%;
        height: 100%;
    }

    .hero-content-photo img {
        width: 85%;
        height: 70%;
    }



    .tech-stack {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        margin-top: 2rem;
    }

    .tech-content {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tech-content h3 {
        font-size: 1.5rem;
        font-weight: 650;
    }

    .tech-content span {
        display: none;
    }

    .tech-icons  {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .tech-icons svg {
       height: 3.5rem;
       width: 3.5rem;
    }
}


/*==========================================================================================================================================================================================================================================================480PX==============================================================================================================================================================================================================================================  */


@media (max-width : 320px) {
     #navBar {
        /* background-color: rgb(116, 116, 239); */
        width: 100%;
        /* overflow: hidden; */
        display: flex;
        justify-content: space-between;
    }

    .nav-links {
        display: none;
    }

    .navbar-icon {
        width: 40%;
    }

    .hamburger {
        display: block;
        justify-content: center;
        align-items: center;
        width: 15%;
        cursor: pointer;
    }


    .hero-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 95%;
    }

    .hero-content-content {
        width: 100%;
        height: 100%;
    }

    .hero-content-photo {
        height: 100%;
        width: 100%;
    }


    .hero-content-photo img {
        width: 90%;
        height: 75%;
    }



    .tech-stack {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        margin-top: 2rem;
    }

    .tech-content {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tech-content h3 {
        font-size: 1.5rem;
        font-weight: 650;
    }

    .tech-content span {
        display: none;
    }

    .tech-icons  {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .tech-icons svg {
       height: 3rem;
       width: 3rem;
    }
}
